@font-face {
    font-family: Kailey;
    src: url("Kailey Latief.ttf");
}

@font-face {
    font-family: ArgentaBold;
    src: url("Argenta Bold.ttf");
}

@font-face {
    font-family: VanillaBaked;
    src: url("VanillaBacked.ttf");
}

@font-face {
    font-family: Amatic;
    src: url("AmaticSC-Bold.ttf");
}

@font-face {
    font-family: AmaticRegular;
    src: url("AmaticSC-Regular.ttf");
}

@font-face {
    font-family: RollingBall;
    src: url("rollingballcursive.ttf");
}

@font-face {
    font-family: GoodK;
    src: url("GoodKarmaSmooth-Regular.ttf");
}

@font-face {
    font-family: GoodV;
    src: url("GoodVibrations.ttf");
}

@font-face {
    font-family: collier;
    src: url("Collier Thin.ttf");
}

div.contenedor {
    top: 35px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.nube1 {
    position: absolute;
    width: 180px;
    top: 293px;
    left: -50px;
    z-index: 2;
    filter: drop-shadow(0 0 4px rgb(0, 0, 0, 0.4));
}

.nube2 {
    position: absolute;
    right: -80px;
    z-index: 2;
    width: 200px;
    top: 249px;
    filter: drop-shadow(0 0 4px rgb(0, 0, 0, 0.4));
}

div.TITULO1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.TITULO1 h2 {
    /*MIS XV*/
    top: 555px;
    font-family: VanillaBaked;
    font-size: 3.9rem;
    color: rgb(236, 234, 234);
    font-weight: 60;
    letter-spacing: 6px;
    text-align: center;
    /* Sombra negra + difuminado azul oscuro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.705);
    filter: drop-shadow(0 0 4px rgb(0, 17, 255));
}

div.TITULO2 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -420px;
    left: -18px;
}

div.TITULO2 h1 {
    /*LULI*/
    font-family: Kailey;
    font-size: 13rem;
    color: rgb(255, 255, 255);
    font-weight: 70;
    background: linear-gradient(200deg,
            #022193,
            #022193,
            rgb(64, 105, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.9),
        0 6px 10px rgba(0, 0, 255, 0.8), 4px 4px 3px rgba(255, 255, 255, 0.5);
    filter: drop-shadow(0 0 4px rgb(0, 17, 240));
    filter: drop-shadow(0 0 4px rgb(0, 0, 0, 0.2));
}

div.TITULO3 {
    /*ANIOS*/
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -160px;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    letter-spacing: 2px;

    text-align: center;
    /* Sombra negra + difuminado azul oscuro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.705);
    filter: drop-shadow(0 0 4px rgb(0, 17, 255));
}

div.FECHA {
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -594px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.45);
}

div.CUANTOFALTA {
    font-family: GoodV;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -600px;
    /* ajustá este valor según lo que necesites */
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.3);
}

div.CONT {
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -648px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.3);
    font-size: 3.1rem;
    text-align: center;
    left: 5px;
}

div.d-h-m-s {
    font-family: collier;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -650px;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    text-align: center;
    gap: 9px;
    left: 6px;
}

img.circ {
    display: flex;
    justify-content: center;
    position: relative;
    width: 75%;
    top: 436px;
    left: 57px;
    position: absolute;
    z-index: 2;
}

div.LAFIESTA {
    font-family: GoodV;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -555px;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 4px rgb(0, 17, 240));
}

div.LUGAR {
    font-size: 2.9rem;
    font-family: GoodV;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -538px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 4px rgb(0, 17, 240));
}

a.botonenlace {
    display: inline-block;
    position: relative;
    top: -439px;
    left: 138px;
    cursor: pointer;
    text-decoration: none;
    z-index: 9999;
}

img.loc {
    display: flex;
    justify-content: center;
    position: relative;
    width: 17%;
    top: 950px;
    left: 165px;
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

div.LUGARINFO {
    font-size: 2rem;
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -459px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 1 2px rgb(0, 0, 0));
}

img.bord {
    width: 57%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -560px;
    left: 81px;
    z-index: 5;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

div.COMOLLEGAR {
    font-size: 2rem;
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

div.VESTIMENTA {
    font-size: 2.9rem;
    font-family: GoodV;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -610px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 4px rgb(0, 17, 240));
}

img.vest {
    display: flex;
    justify-content: center;
    position: relative;
    width: 37%;
    top: 1205px;
    left: 120px;
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

div.CODIGO {
    font-size: 2rem;
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -550px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

div.CODIGO2 {
    font-size: 2rem;
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -547px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

div.OBSEQUIO {
    font-size: 2.9rem;
    font-family: GoodV;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -513px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 4px rgb(0, 17, 240));
}

img.pres {
    display: flex;
    justify-content: center;
    position: relative;
    width: 24%;
    top: 1485px;
    left: 150px;
    position: absolute;
    z-index: 2;
    transform: rotate(20deg);
}

div.CUENTA {
    font-size: 2rem;
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -416px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
}

div.CUENTA2 {
    font-size: 2rem;
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -415px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
}

div.CUENTA3 {
    font-size: 2rem;
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -410px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
}

div.CONFIRMAR {
    font-family: GoodV;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -360px;
    color: rgb(236, 234, 234);
    letter-spacing: 6px;
    text-align: center;
    /* Sombra negra + difuminado azul oscuro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.705);
    filter: drop-shadow(0 0 4px rgb(0, 17, 255));
    font-size: 3rem;
}

div.TEESPERO {
    font-family: GoodV;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -350px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    font-size: 2.5rem;
}

a.aux {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    z-index: 10;
    font-size: 2rem;
    font-family: GoodK;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -320px;
    color: rgb(244, 244, 244);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0 50px 700px rgb(0, 0, 175),
        0 0 8px rgba(255, 255, 255, 0.4);
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

img.bord2 {
    width: 70%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -465px;
    left: 61px;
    z-index: 5;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

.FONDONUEVO {
    background-color: rgba(13, 54, 255, 0.853);
    /* o background-color */
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
    font-family: GoodK;
    font-size: 1.5rem;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
}

html,
body {
    background-image: url(img/fondotarjetita.png);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}